@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}



.container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
}

.container .content{
   text-align: center;
}

.container .content h3{
   font-size: 30px;
   color:#333;
}

.container .content h3 span{
   background: rgb(219, 205, 5);
  
   border-radius: 5px;
   padding:0 15px;
}

.container .content h1{
   font-size: 50px;
   color:#000000;
}

.container .content h1 span{
   color:crimson;
}

.container .content p{
   font-size: 25px;
   margin-bottom: 20px;
}

.container .content .btn{
   display: inline-block;
   padding:10px 30px;
   font-size: 20px;
   background: #333;
 
   margin:0 5px;
   text-transform: capitalize;
}

.container .content .btn:hover{
   background: crimson;
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   

}

.form-container form{
   padding:20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
 
   text-align: center;
   width: 500px;
}

.form-container form h3{
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color:#d80000;
   
}

.form-container form input,
.form-container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;

   border-radius: 5px;
}

.form-container form select option{
   
}

.form-container form .form-btn{
   background: #080bd1;
   color:rgb(30, 0, 165);
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.form-container form .form-btn:hover{
   background: crimson;
   
}

.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   color:#dbdf01;
}

.form-container form p a{
   color:crimson;
}

.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: crimson;
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}

nav{

   margin-top: 5px;
margin-left: 3px;
width: 95%;
height: 35px;
background-color: rgba(51,126,132,255);

}

ul{

   list-style-type: none;
   margin-top: 10px;
   margin-left: 5px;
   padding: 0px; 
}

ul li{
  
   float: left;
   margin-top: 10px;
 margin-left: 25px;
   padding: 0px;
}

ul li a{
  
   display: inline-block;
    list-style: none;
   text-decoration: double;
   background-color: rgba(255,255,255,255);
   list-style: none ;
   
   color: rgb(5, 5, 5);
   border-radius: 8px 000 ; 
}

ul li a:hover
{

font-size: 1.2em;
color: rgb(158, 158, 158);
background-color: rgba(248,237,41,255);

}